div.lf_scrolldown svg:nth-child(3){
  animation-name:scolldown3;
  animation-iteration-count:infinite;
  transform:rotate(90deg) translateX(-12px)
}
div.lf_scrolldown svg:nth-child(2){
  animation-name:scolldown2;
  animation-iteration-count:infinite;
  transform:rotate(90deg) translateX(-5px)
}
div.lf_scrolldown svg{
  width:29px;
  height:auto;
  margin:0 auto;
  transition:all .3s;
  animation-name:scolldown1;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  transform:rotate(90deg);
  opacity:0;
  fill:var(--txt1)
}
div.lf_scrolldown{
  width:33px;
  height:52px;
  display:grid;
  place-self:center;
  margin:0px auto;
  border-radius:4em;
  padding:8px 0;
  border:4px solid #0000
}

@keyframes scolldown1{0%{opacity: .1}16%{opacity: .8}33%{opacity: .3}}@keyframes scolldown2{33%{opacity: .1}49%{opacity: .8}66%{opacity: .3}}@keyframes scolldown3{66%{opacity: .1}81%{opacity: .8}97%{opacity: .3}}