/* #dropdown1 .menu {
    background-color: #282a36;
} */
/* #dropdown1 .menu > .undertab > .listHead span {
    color: #FFF4A3;
}
#dropdown1 .menu span {
    color: #fff;
} */
#dropdown1 .menu li .listHead:hover {
    background-color: #317391;
}