:root {
    --xxxLarge-text-fontSize: max(40px, 9vw);
    --xxLarge-text-fontSize: max(20px, 7vw);
    --xLarge-text-fontSize: max(20px, 5vw);
    --large-text-fontSize: max(17px, 2.6vw);
    --midLarge-text-fontSize: max(17px, 2vw);
    --smallLarge-text-fontSize: max(17px, 1.5vw);
    --standard-text-fontSize: max(14px, 1vw);
    --midSmall-text-fontSize: max(13px, 0.8vw);
    --small-text-fontSize: max(11px, 0.8vw);
    --standard-button-fontSize: max(14px, 1.1vw);
}
